#top-nav {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    background-color: #333;
}

#top-nav button {
    height: 30px;
    font-size: 12px;
    padding: 4px 8px;
    vertical-align: middle;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.editor-controls {
    display: flex;
    width: 100%;
    background-color: rgba(255, 255, 255, .05);
    }

    .editor-controls .tab {
        border-bottom: none;
        }

        .editor-controls .tab.enabled {
            background-color: #bbb;
    }

    .editor-controls .file-name {
        margin-left: auto;
        margin-right: auto;
        line-height: 32px;
        text-align: center;
}

button {
    border: 1px solid rgba(0, 0, 0, .2);
    white-space: normal;
    padding: 8px 16px;
}

button:active {
    background-color: #bbb;
}

/* Highlight buttons on devices with a mouse and/or keyboard */
@media (pointer: fine), (pointer: none) {
    button:hover:not(.enabled) {
        background-color: #999;
        color: #eee;
    }
}

/* No button focus outline except on devices that only have a keyboard */
@media (pointer: fine), (pointer: coarse) {
    button:focus {
        outline: none;
    }
}

.display.enabled,
.editor.enabled {
    display: block;
}

.markdown-pair {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 20px;
}

.editor,
.display {
    display: none;
    min-width: 500px;
    min-height: 500px;
}

.editor {
    border: 1px rgb(169, 169, 169) solid;
}
